<select #classe (change)="0">
    <option value="alert-success">Success</option>
    <option value="alert-info">Info</option>
    <option value="alert-danger">Danger</option>
    <option value="alert-warning">Warning</option>
</select>

<div class="alert {{ classe.value }}" role="alert" style="margin-top: 15px;">
    <h1 style="margin: 0;">{{title}}</h1>
</div>

<div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
    Danger selected!
</div>

<nav>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/search" routerLinkActive="active">Search</a>
  <a routerLink="/event-bind" routerLinkActive="active">Event Bind</a>
  <a routerLink="/two-way-data-binding" routerLinkActive="active">Two-Way Data Binding</a>
  <a routerLink="/input-output-property" routerLinkActive="active">Input/Output Property</a>
</nav>
<router-outlet></router-outlet>
